#horizontal-nav{
    background-color: #223030;
}

/* Hamburger icon style */
.hamburger-icon {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

/* Sidebar styles */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #223030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #E8D9CD;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #959D90;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}